.end-of-page 
{
    background-color: var(--background-color);
    padding-bottom: 416px;
        & .container
        {
                max-width: 480px;
                padding: 0 15px;
                margin: 0 auto;
                height: 645px;
        }
}

// .end-of-page {
//     background-color: var(--background-color)
// }