.end-of-page 
{
    background-color: var(--background-color);
   
        & .container
        {
                max-width: 480px;
                padding: 0 15px;
                margin: 0 auto;
                height: 645px;
        }
}

.footer-list
{
        display: flex;
        justify-content: center;
        flex-direction: column;
}

// .end-of-page {
//     background-color: var(--background-color)
// }