.first-block {
    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-header@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
}
.first-block {
    background-color: var(--background-color);
    height:400px;
    padding: 200px 0 200px 0;
    text-align: center;
    align-items: center;
    display: flex;
}

@media screen and(min-width:768px)
{   .first-block{
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-header-tablet.jpg");
    padding-bottom: 202px;
    }
}

// .first-block {
//     max-width: 1600px;
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img17.jpg");
//     background-repeat: no-repeat;
//     background-size: cover;
// }

// .first-block {
//     background-color: var(--background-color);
//     height: 600px;
//     padding: 200px 0 200px 0;
//     text-align: center;
// }