.fourth-section {
    padding-top: 60px;
    padding-bottom: 60px;
    & .container
    {
            max-width: 480px;
            margin: 0 auto;
            padding: 0;
    }
}
@media screen and(min-width:768px) {
    .fourth-section {
            padding-top: 60px;
            padding-bottom: 60px;
    
            & .container {
                max-width: 768px;
                margin: 0 auto;
                padding: 0;
            }
        }
}

@media screen and(min-width:1200px)
{
.fourth-section {
        padding-top: 60px;
        padding-bottom: 60px;

        & .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0;
        }
    }
}
