.header-part
{
 & .container{
    max-width: 480px;
    padding: 0 15px;
    margin: 0 auto;
    height: 60px;
}
}

@media screen and (min-width:768px)
{
    .header-part
    {
        & .container
        {   
                display: flex;
                max-width: 768px;
                margin-left: 0;
                margin-right: 0;
        }
    }

}




// .header-part {
//     background-color: var(--white-color);
//     border-bottom: 1px solid #ECECEC;
//     margin: 0 auto;
//     & .container {
//             display: flex;
//         }
// }
