.header-part
{
 max-width: 480px;
 padding-bottom: 60px;
 & .container{
    max-width: 480px;
    padding: 0 15px;
    margin: 0 auto;
    height: 60px;
}
}





// .header-part {
//     background-color: var(--white-color);
//     border-bottom: 1px solid #ECECEC;
//     margin: 0 auto;
//     & .container {
//             display: flex;
//         }
// }
