.fourth-section-header 
{
    font-size: 28px;
    line-height: 1.178;
    letter-spacing: 0.03em;
    text-align: center;
}

// .fourth-section-header {
//     font-size: 36px;
//     line-height: 1.166;
//     letter-spacing: 0.03em;
//     text-align: center;
// }